@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

.header{
    background: #eee;
    padding: 20px;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .logo{
    font-size: 1rem;
    font-weight: 400;
}

.header .navbar :is(.navbar__logo, ul li a){
    color: #000;
}

.header .navbar ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar li a{
    font-size: 1rem;
    font-weight: 400;
}

.navbar .navigation__right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: linear-gradient(to left, #6eee87, #5fc52e);
    width: 150px;
    height: 38px;
    border-radius: 50px;
    color: #2b2b2b;
}

.navigation__right::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #6eee87, #5fc52e);
    border-radius: 50px;
    z-index: -1;
}

.navigation__right:hover{
    background: transparent;
}

.navigation__right:hover::after{
    z-index: 1;
}

.navbar .navigation__right i{
    font-size: 1.2rem;
}